#{extends 'main.html' /}
#{set title:'Home' /}

<script type="text/javascript">
$(function () {
  $('#uploadbutton').click(function() {
    $('#clickbutton').val("upload");
  });

  $('#regulatebutton').click(function() {
    $('#clickbutton').val("regulate");
  });
});
</script>
<div class="block">
#{form @manipulate(), enctype:'multipart/form-data'}
<table class="commons-inputs">
	<tr><td class="item">Height</td><td class="value"><input type="text" name="height" value="${session.get('heightkey')}" /></td></tr>
	<tr><td class="item">Width</td><td class="value"><input type="text" name="width" value="${session.get('widthkey')}" /></td></tr>
	<tr><td class="item">Page Num</td><td class="value"><input type="text" name="pagenum" value="${session.get('pagenumkey')}" /></td></tr>
	<tr><td class="item">X</td><td class="value"><input type="text" name="horizontal" value="${session.get('horizontalkey')}" /></td></tr>
	<tr><td class="item">Y</td><td class="value"><input type="text" name="longitudinal"  value="${session.get('longitudinalkey')}" /></td></tr>
	<tr><td class="item">A</td><td class="value"><input type="text" name="angle"  value="${session.get('anglekey')}" /></td></tr>
	<tr>
		<td>
		    <input type="file" id="pdf" name="pdf" />
		</td>
		<td>
			<input id="uploadbutton" type="submit" value="Upload" />
			<input id="regulatebutton" type="submit" value="Regulate" />
			<input id="clickbutton" type="hidden" name="clickbutton" />
		</td>
	</tr>
</div>
</table>
#{/form}
<embed class="regulate-window" src="${path}">
</div>